.envrc

lib/glfw-3.3.2/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
bin/teraflop-test-unittest
bin/teraflop-test-unittest-gpu
bin/triangle
bin/cube

# DUB
/dub.selections.json
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
