<style>
.bs-hbtn {
  display: inline-block;
  color: white;
  height: 34pt;
  vertical-align: top;
  text-align: center;
  float: right;
}
.bs-hbtn.red.left {
  background: #ab1919;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 34pt, 100% 18pt, 18.5pt 34pt;
  background-position: 0 0, 18pt 34pt, 0 0;
  background-clip: content-box, border-box, border-box;
}
.bs-hbtn.black.right {
  background: black;
  margin-right: 18pt;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 34pt, 100% 18pt, 18.5pt 34pt;
  background-position: 0 0, -18pt 34pt, 100% 0;
  background-clip: content-box, border-box, border-box;
}
.dub-logo {
  background-image: url(images/dub-logo.png);
  width: 56px;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#downloadButton {
  position: absolute;
  top: 0;
  right: 0;
}
#downloadButton large {
  font-size: 14pt;
  line-height: 16pt;
}
#downloadButton .content {
  padding: 0 5pt;
}
</style>

<a id="downloadButton" href="https://code.dlang.org/packages/teraflop">
  <div class="bs-hbtn right black">
    <div class="content">get <strong>teraflop</strong><br><large>0.5.0</large></div>
  </div><div class="bs-hbtn left red">
    <div class="dub-logo"></div>
  </div>
</a>

<h1>Teraflop API Reference</h1>
<p>
  <a href="https://code.dlang.org/packages/teraflop">
    <img src="https://img.shields.io/dub/v/teraflop.svg" alt="DUB Package">
  </a>
  <a target="_blank" href="https://opensource.org/licenses/BSD-3-Clause">
    <img src="https://img.shields.io/badge/license-3--Clause%20BSD-blue" alt="3&dash;Clause BSD License">
  </a>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/chances/teraflop-d/workflows/Teraflop%20CI/badge.svg?branch=master">
    <img src="https://github.com/chances/teraflop-d/workflows/Teraflop%20CI/badge.svg?branch=master" alt="Teraflop CI">
  </a>
  <a href="https://codecov.io/gh/chances/teraflop-d/">
    <img src="https://codecov.io/gh/chances/teraflop-d/branch/master/graph/badge.svg" alt="codecov">
  </a>
</p>
<p>An ECS game engine on a <a href="https://github.com/rtbo/gfx-d#readme">Vulkan</a> foundation.</p>
<h2 id="Usage">Usage</h2>
<pre class="json">
"dependencies": {
  "teraflop": "0.5.0"
}
</pre>
<h2>Examples</h2>
<p>
  <ul>
    <li><a href="https://github.com/chances/teraflop-d/blob/master/examples/triangle/source/app.d">`dub run teraflop:triangle`</a></li>
    <li><a href="https://github.com/chances/teraflop-d/blob/master/examples/cube/source/app.d">`dub run teraflop:cube`</a></li>
  </ul>
</p>
<h2>Modules</h2>
