<nav id="main-nav">
  <h1>Teraflop Engine</h1>
  <ul style="list-style: none; padding: 0;">
    <li>
      <a href="https://chances.github.io/teraflop-d#Usage">Documentation</a>
    </li>
    <li>
      <a href="https://chances.github.io/teraflop-d">API Reference</a>
    </li>
    <li>
      <a href="https://code.dlang.org/packages/teraflop">Download</a>
    </li>
    <li>
      <a href="https://github.com/chances/teraflop-d#readme">Open Source on GitHub</a>
    </li>
  </ul>
  <h2>API Reference</h2>
